* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  width:100%;
  height: 100%;
  background-color: #9e9e9e;
  color: #474747;
  font-family: 'Covered By Your Grace', cursive, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
}

section#score {
  width: 100%;
}

.title {
  width: 523px;
  margin: 0 auto -13px auto;
  background-image: url(../images/title.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.bg {
  width: 665px;
  height: 665px;
  margin: -26px auto;
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
#board {
  width: 640px;
  height: 640px;
  margin: 0 auto;
  border-radius: 8px;
}

#board > div {
  float: left;
  width: 64px;
  height: 64px;
}

section#score div {
  text-align: right;
  padding-right: 60px;
  font-size: 60px;
}
strong {
  display: inline-block;
  font-size: 60px;
  padding-top: 14px;
}

.squirrel {
  height: 64px;
  width: 64px;
  background-image: url("../images/squirrel.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.walnut {
  background-image: url("../images/walnut.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  margin: 40px auto;
  text-align: center;
}

#over span {
  display: block;
  font-size: 120px;
  padding: 50px;
  padding-bottom: 0;
}

.invisible {
  display: none;
}

.start {
  background-color: grey;
  border: none;
  border-radius: 11px;
  padding: 1rem 2rem;
  font-size: 4rem;
  font-family: 'Covered By Your Grace', cursive, Arial, sans-serif;
  color: lightgray;
  cursor: pointer;
  transition: 0.5s all ease;
}
.start:hover {
  background-color: #474747;
}
